
.new-account--input-wrap {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-wrap {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.btn-wrap {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-signup > img {
    height: 40px;
    padding: 0.5rem;
}

.btn-signup:hover {
    background-color: rgba(3, 255, 3, 0.256);
    border-color: greenyellow;
}

.btn-link {
    margin-top: 2rem;
    border: none;
    background: transparent;
    text-decoration: underline;
    font-size: 12px;
}

.btn-link:hover {
    background: transparent;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.721);
}